<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}

{% if data_date is not none %}
  <p><b>Сформировано на основании актуальных данных на {{ data_date }}</b></p>
{% endif %}

<p>Сформировано {{ prog }} v.{{ ver }} на {{ node }} в {{ now }}</p>
<p>Все предложения, замечания и замеченные ошибки в системе пишите по адресу
  <a href="mailto:tikhon.ostapenko@MegaFon.ru?subject=Ошибка%20при%20работе%20[automated%20mailing%20system]%20ВОЛС">tikhon.ostapenko@MegaFon.ru</a>
{% block footer %}
{% endblock %}
</body>
</html>
